// 导入iconfont
@import './assets/iconfont/style.css';
// 导入全局样式
@import './assets/global-variables.scss';
// 修改iconfont默认样式
@import './assets/iconfont-override.scss';

#app {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

a {
  font-weight: bold;
}

p {
  font-size: 1.4rem;
}
